---
---

<a href="/" class="flex m-auto pl-10 w-fit pt-2 text-4xl mb-5">
	<h1 class="bg-gradient-to-r from-slate-800 to-amber-700 bg-clip-text text-transparent hover:animate-pulse ">Short URL</h1>
</a>
<style>
    h1{
        font-family: "Nuku", sans-serif;
    }
</style>