---
import SearchButton from './react/SearchButton.jsx';

const baseFEUrl = import.meta.env.PUBLIC_FE_BASE_URL;
---

<div class="flex gap-3 my-2 md:my-10 mx-auto w-fit">
	<SearchButton  client:load baseUrl={baseFEUrl}/>
</div>
<style>
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
</style>
