---
import SearchButton from './react/SearchButton.jsx';
interface Props {
}

const { } = Astro.props;

---

<div class="flex gap-3 my-10 mx-auto w-fit">
	<SearchButton  client:load/>
</div>
<style>
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
</style>
