---
import ShortButton from './react/ShortButton.jsx';
interface Props {
}

const { } = Astro.props;

const baseUrl = import.meta.env.PUBLIC_BE_BASE_URL;
---

<div class="flex gap-3 my-2 md:my-10 mx-auto w-fit">
	<ShortButton client:load baseUrl={baseUrl}/>
</div>
<style>
</style>
