---
import Layout from "../layouts/Layout.astro";
import ShortInput from "../components/ShortInput.astro";
---

<Layout title="Short url">
	<main>
		<article class="bg-gray-50 w-7/12 rounded-xl border-b-2 border-black border-solid">
			<h1 class="m-auto text-black text-6xl mt-5">
				Welcome to
				<span
					class=" bg-gradient-to-r from-slate-800 to-amber-300 bg-clip-text text-transparent"
				>
					Short url
				</span>
			</h1>
			<ShortInput />
		</article>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: rgb(255, 255, 255);
		font-size: 20px;
		line-height: 1.6;
		width: 100dvw;
		height: 80dvh;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	h1 {
		font-family: "Nuku", sans-serif;
		text-align: center;
	}
</style>
